* {
     font-family: 'Montserrat', sans-serif;
     font-size: 13.5px;
     font-weight: 600;
     line-height: 18.9px;
}

a {
     font-weight: 500;
     color: #646cff;
     text-decoration: inherit;
}

a:hover {
     color: #535bf2;
}

article p {
     color: #393838;

}

h1 {
     font-size: 3.2em;
     line-height: 1.1;
}

button {
     border: none;
     background: none;
     cursor: pointer;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
     :root {
          color: #213547;
          background-color: #ffffff;
     }

     a:hover {
          color: #747bff;
     }

     /* button {
    background-color: #f9f9f9;
  } */
}



/* Me part work */

.conteiner-base {
     /* border: 1px solid black; */
     border-radius: 17px;
     width: 432px;
     height: 701px;
     max-height: 701px;


     /* display: flex; */

     padding-top: 15px;
     background-color: #ffffff;
     margin-bottom: 20px;


}

.conteiner-scroll {
     max-height: 680px;
     overflow-x: hidden;
     overflow-y: hidden;

     /* padding-right: 0px; */
     transition: overflow-y 0.3s;
}

.conteiner-scroll:hover {
     overflow-y: scroll;
}

.header-conteiner {
     display: inline-flex;
     width: 387px;
     height: auto;
     margin: 0 12px;

     background-color: #FFFFFF;
     /* Cambia el color de fondo según tus preferencias */

     /* display: flex; */
     justify-content: space-between;
     /* Esto separará el párrafo y el botón en los extremos */
     align-items: center;
     /* Esto centrará verticalmente ambos elementos */

     /* padding: 10px; Añade espacio alrededor del contenido si lo deseas */
}

.name-list {
     width: 146px;
     height: 24px;
     margin: 0;

     /* font-family: 'Montserrat', sans-serif; */
     font-family: 'Monserrat', sans-serif;
     font-weight: 600;
     font-size: 16px;
     line-height: 24px;
}

.update {
     width: 130px;
     height: 35px;

     display: flex;
     align-items: center;
     /* box-shadow: 0 4px 4px rgb(194, 194, 194, 5%); */
     box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);

     background-color: #FFFFFF;
     color: #00A15C;
     /* border: 1px solid black; */
     border-radius: 10px;
     padding: 10px 15px;
     cursor: pointer;

     font-family: 'Monserrat', sans-serif;
     font-weight: 300;
     font-size: 16px;
     line-height: 19.5px;
}

.icon-update {
     width: 19px;
     height: 19px;
     margin-right: 8px;
}

.main {
     /* display: grid; */
     display: flex;
     flex-direction: column;

     place-items: center;
     /* grid-template-columns: 1fr; */
     gap: 10px;
     justify-content: center;
     width: 100%;

     margin-top: 20px;
}

.conteiner-details {
     display: inline-flex;
     margin: 5px 0;
     width: 385px;
     height: 74px;

     align-items: center;
     justify-content: space-between;

     /* padding-right: 15px; */
     border: 1px solid #FF9F38; /*Cambie el color blanco*/
     border-radius: 15px;

     background-color: #FFFFFF;
}

.conteiner-solicitud {
     display: flex;
     align-items: center;

     width: 267px;
     height: 43.86px;
     margin-left: 15px;

     background-color: #ffffff;
}

.conteiner-solicitud ul {
     margin: 0;
     padding: 0;
     text-align: left;
}

.conteiner-solicitud li {
     /* margin: 0; */
     display: block;
     /* margin: 0 15px; */
     padding: 0;

     /*flex: 1; Hace que cada párrafo ocupe todo el ancho disponible */
     white-space: nowrap;
     /* Evita el retorno de línea en los párrafos */
     overflow: hidden;
     /* Oculta el contenido adicional si es muy largo */
     text-overflow: ellipsis;
     /* Agrega puntos suspensivos (...) si el contenido es demasiado largo para caber */

     background-color: #FFFFFF;

     font-family: 'Monserrat', sans-serif;
     font-weight: 400;
     font-size: 13.5px;
     line-height: 18.9px;
}

.conteiner-solicitud li:first-child {
     font-weight: bold;
     /* font-family: 'Monserrat' sans-serif; */
     font-weight: 700;
     font-size: 15px;
     line-height: 21px;
}

.icon-folder {
     display: flex;
     width: 42px;
     height: 42.86px;

     margin-right: 15px;

     justify-content: center;
     /* Centrar horizontalmente */
     align-items: center;
     /* Centrar verticalmente */

     border-radius: 10px;
     background-color: #FEE6BF;
}

.iconOptions {
     width: 7px;
     /* height: 29; */
     margin-right: 15px;
}

/* .icon-folder .bi {
  width: 19px;
  height: 16px;
} */

.option-details {
     width: 20px;

}

.image-space {
     width: 130px;
     height: 118px;
}

.space-conteiner {
     flex-direction: column;
     display: flex;
     align-items: center;
     justify-content: center;
}

.space-conteiner p {
     margin: 0;

     font-family: 'Monserrat', sans-serif;
     font-weight: 400;
     font-size: 13.5px;
     line-height: 18.9px;
     align-items: center;
     color: #39383880;

}

.hidden {
     display: none;
}

/* .article-conteiner {
  margin-bottom: 15px;
} */
.icon-folder-open {
     width: 19.44px;
     height: 16;
}

.options-menu {
     display: none;
     position: absolute;
     list-style: none;
     background-color: white;
     border: 1px solid #ccc;
     padding: 5px 0;
}

.show-menu .options-menu {
     display: block;
}

.iconOptions {
     cursor: pointer;
}


/* Avance Chris */

.conteiner-base-chris {
     background-color: #ffffff;
     margin-bottom: 55px;
     width: 1029px;
     height: 280px;


}

.header-conteiner-base {
     display: flex;

     margin: 0 28px;
     padding-top: 10px;
     justify-content: space-between;

     background-color: #ffffff;
}

.conteiner-profor {
     display: flex;
    
     margin-left: -27px;
     /* height: auto; */


}

.conteiner-profor ul {
     margin: 0;
     padding: 0;
     text-align: left;
}

.conteiner-profor li {
     display: block;
     /* margin: 0 15px; */
     padding: 0;

     /*flex: 1; Hace que cada párrafo ocupe todo el ancho disponible */
     white-space: nowrap;
     /* Evita el retorno de línea en los párrafos */
     overflow: hidden;
     /* Oculta el contenido adicional si es muy largo */
     text-overflow: ellipsis;
     /* Agrega puntos suspensivos (...) si el contenido es demasiado largo para caber */

     background-color: #FFFFFF;

     font-family: 'Monserrat', sans-serif;
     font-weight: 400;
     font-size: 13.5px;
     line-height: 18.9px;
}

.conteiner-profor li:first-child {
     font-weight: bold;
}

.proformaDetails {
     /* width: ; */
     text-align: left;
     margin-top: 40px;
     background-color: #ffffff;
}
.tl-dt{
     width: 156px;
     height: 20px;
     font-family: 'Monserrat', sans-serif;
          font-weight: 600;
          font-size: 14px;
          line-height: 19.6px;
          color:#5B5B5B;
}
.proformaDetails div {
     width: 1070px;
     margin: 0 auto;

     /* border: 1px solid #242424; */
}

.proformaDetails article p {
     margin: 0 0 10px 0;
     background-color: #FFFFFF;

     font-family: 'Monserrat', sans-serif;
     font-weight: 400;
     font-size: 13.5px;
     line-height: 18.9px;
}

.proformaDetails main {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     gap: 50px;
     height: 190px;

}

.proformaDetails main article {
     width: 190px;
     height: 158px;
     justify-content: space-between;

     background-color: #FFFFFF;
}

.proformaDetails .input {
     width: 180.19px;
     height: 38.19px;
     border: 1px solid #D0D5DD;
     border-radius: 7px;

     margin: 0;
     padding: 0;
     padding-left: 8px;

      color: #7B8794; 

     font-family: 'Monserrat', sans-serif;
     font-weight: 400;
     font-size: 14px;
     line-height: 17.07px;
}

.proformaDetails .entry-up {
     margin-bottom: 18.5px;
}

.proformaDetails .imgPdf {
     width: 24px;
     height: 28px;

     cursor: pointer;
}

.btnClick_pdf {
     display: flex;
     /* justify-content: center; */
     align-items: center;

     justify-content: space-between;
     background-color: #FFFFFF;
}


.Container-master {
     display: flex;
     flex-direction: row;
     background-color:  rgb(255, 255, 255);
     padding: 20px;
}

.container-jn-1 {
     background-color: #f4f4fc;
     height: 108;
     width: 445px;
     padding-left: 40px;
     margin-top: -0px;
     padding-right: 10px;
     padding-top:70px ;
}

.container-jn-2 {
     background-color: #ffffff;

     height: 1082px;
     width: 1127px;
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
     align-items: center;
     margin-top: 0px;
     
}

.inc-sl {
     margin-left: 50px;
     align-self: flex-start;
     font-family: 'Monserrat', sans-serif;
          font-weight: 600;
          font-size: 14px;
          line-height: 19.6px;
          color:#5B5B5B;
}
.navegation{
     background-color: #5555D8;
     width: 304px;
     height: 925px;
     top: -2px;
     left: -2px;
     margin-top: 156px;
     margin-left: -8px;
     margin-right: 0px;
     border-radius:55px 55px 0 0 ;

}