
.x-axis{
     font-family: 'Montserrat', sans-serif;
          font-weight: 300;
          font-size: 14px;
          line-height: 17.07px;
     
}
/* .y-axis text {
     
}
.custom-horizontal-grid line {
     
} */